data/**
!data/.gitkeep
!data/new/
data/new/**
!data/new/.gitkeep
!data/results/
data/results/**
!data/results/.gitkeep
!data/exact/
!data/bonds/
data/bonds/**
!data/bonds/.gitkeep
plots/**
!plots/.gitkeep
results/**
!results/.gitkeep
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode/ 
cplusplus/mc_sim
cplusplus/obj/
cplusplus/dist/



